.deskoo {

    @include flex(column, center, center, 20px);
    padding-bottom: 10px;
    flex-wrap: wrap;
    min-height: 100vh;
    max-height: 100%;

    .desko {
        @include flex(column, center ,center , 5px);
        width: 70%;
        height: 300px;
        background-color: $primary-color;
        flex-wrap: wrap;
        color: $light-color;
        overflow: hidden;

        h3 {
            color: #0ce6e69f;
        }

        &__integrantes {
            padding: 20px;

            p {
                color: white;
                font-size: 17px;
                font-family: "IBM Plex Mono"
            }

            &__ig {
                width: 200px;
                display: flex;
                justify-content: center;
                background-color: $primary-color;
                border: #0ce6e69f solid 1px;
                text-align: center;
                padding: 2px 10px;

                a {
                    text-decoration: none;
                }

                i {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $light-color;
                    font-size: 20px;
                    padding: 5px;

                    &:hover {
                        color: #0ce6e69f;
                    }
                }
            }
        }

        img {
            @include images(30%, 100%, cover);
            text-align: center;
        }
    
        &:hover {
            border-radius: 20px;
            box-shadow: 5px 5px 15px 0px $light-color;
            background-color: $card-color;
            transition: .5s;
        }
    }
}