@media only screen and (max-width:1024px){
    .galeria {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 300px);
        grid-template-areas: 
        "area1 area2 area2"
        "area4 area2 area2"
        "area6 area5 area5"
        "area3 area7 area8";
        
        .d2 {
            width: 100%;
            height: 100%;
        
            img {
                width: 100%;
                height: 100%;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}
.carousell {
    width: 100%;
    height: 450px;
}
}


@media only screen and (max-width:768px){

    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 300px);
        grid-template-areas: 
        "area1 area2"
        "area4 area2"
        "area6 area5"
        "area3 area7"
        "area8 area8";


        .d2 {
            width: 100%;
            height: 100%;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .carousell {
        width: 100%;
        height: 250px;
    }

    .deskoo {
        background-color: $main-color;
        display: flex;
        flex-direction: column;

        .desko {
            background-color: rgba(3, 3, 44, 0.527);
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 320px;
            padding-bottom: 5px;
            flex-wrap: nowrap;

            img{
                width: 150px;
                height: 150px;
                padding-top: 5px;
            }
        }
    }

}

@media only screen and (max-width:480px){
    .galeria {
        display: flex;
        flex-direction: column;
    }

    .carousell {
        width: 100%;
        height: 200px;
    }

}