//NAVBAR

.navbar {
    font-family: "teko";
    font-size: 25px;

    .offcanvas-body {
        background-color: $nav-color;
        color: $light-color;
    }

    .container-fluid{
        padding-left:10px;
        background-color: $nav-color;

        .navbar-toggler {
            background-color: $light-color;
            color: gray;
        }

        img {
            object-fit: cover;
            width: 60px;
            height: 60px;
            border-radius: 100%;
        }


        a {
            color: $light-color;

            &:hover {
                background-color: $light-color;
                border-radius: 10px;
                color: $nav-color;
                transition: 1s;
            }
        }
    }

}



